body {
  background-color: #0f0f0f;
  color: #fff;
}

a {
    /*color:#919191;**/
    /*color:white;*/
    color:#0FA3B1;
    text-decoration: none;
}
  
h1 {
  margin: 0em;
}

small {
  color:#919191;
}

.react-icons {
  text-decoration: none;
}

body.dark-mode {
  background-color: white;
  color:black;
}

body.dark-mode a {
  color:#0FA3B1;
}

body.dark-mode small {
  color:black;
}


body.dark-mode blockquote {
  color: hsla(0,0%,100%,.9);
  border-left: 0.32813rem solid hsla(0,0%,100%,.9);
}

body.dark-mode cite {
  color: hsla(0,0%,100%,.9);
}