a {
  color:#0FA3B1;
}

body.dark-mode {
  background-color: #fff;
  color: black;
}

body.dark-mode a {
  color: #0FA3B1;
}

body.dark-mode blockquote {
  color: black;
  border-left: 0.32813rem solid black;
}

body.dark-mode cite {
  color: black;
}

body.light-mode {
  background-color: #131B23;
  color: #fff;
}

body.light-mode a {
  color: #95E06C;
}

body.light-mode blockquote {
  color: hsla(0,0%,100%,.9);
  border-left: 0.32813rem solid hsla(0,0%,100%,.9);
}

body.light-mode cite {
  color: hsla(0,0%,100%,.9);
}